<h2>Show Category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

  <li>
    <strong>Restaurants:</strong>
    <%= Enum.map(@category.restaurants, fn(x) -> x.name end) |> Enum.join(", ") %>
  </li>

</ul>

<span><%= link "Back", to: category_path(@conn, :index) %></span>
<span class="pull-right"><%= link "Edit", to: category_path(@conn, :edit, @category) %></span>
